@model RedGenealogica.Web.ViewModels.LoginViewModel
<div asp-validation-summary="All"></div>
<h2>Login</h2>
<div class="form-container">
<form method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
</div>