@model RedGenealogica.Web.ViewModels.RegistroUsuarioViewModel
<div class="card" style="max-width:400px;">
<h2>Registro</h2>
<div class="form-container">
<form method="post">
    <div>
        <label>Nombres</label>
        <input asp-for="Nombres" />
    </div>

    <div>
        <label>Apellidos</label>
        <input asp-for="Apellidos" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>

    <div>
        <label>Confirmar Password</label>
        <input asp-for="ConfirmarPassword" type="password" />
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</div>
</div>
@await Html.PartialAsync("_BotonVolver")